Repository bodyBudy/bodyBuddy, pull requests merged in 2022-06, with the labels that each got.

#12 assets: 정적 파일 추가 #11
  public/blank.svg
  public/love.svg
  public/speech.svg
Labels: common

#22 Community Page Markup
  components/common/ItemGroup.tsx
  components/common/button/index.tsx
  components/common/button/styledButton.ts
  components/common/title/index.tsx
  components/common/title/styledTitle.ts
  components/common/title/title.d.ts
  components/common/uploader/index.tsx
  components/common/uploader/styledUploader.ts
  pages/community/[id].tsx
  pages/community/index.tsx
  pages/community/posting.tsx
  public/assets/blank.svg
  public/assets/common/back-black.svg
  public/assets/common/camera.svg
  public/assets/common/love-blank.svg
  public/assets/common/love.svg
  public/assets/common/profile.svg
  public/assets/community/blank.svg
  public/assets/community/pencil.svg
  public/assets/community/speech.svg
Labels: design, common

#29 Design detail option component and common checkbox component
  components/common/checkbox/checkbox.d.ts
  components/common/checkbox/index.tsx
  components/common/checkbox/styledCheckbox.ts
  components/layout/index/DetailOption.tsx
  components/layout/index/Option.tsx
  components/layout/index/TrainerItem.tsx
  pages/index.tsx
  public/assets/common/closeButton.svg
Labels: design, common

#30 Sign up(Trainer) page css Styling
  README.md
  api/firebase.ts
  components/common/button/index.tsx
  components/common/button/styledButton.ts
  components/common/map/index.tsx
  components/common/modal.tsx
  components/common/modal/index.tsx
  components/common/modal/modal.d.ts
  components/common/modal/styledModal.ts
  components/common/select/styledSelect.ts
  components/layout/Layout.tsx
  components/layout/signUp/stepHeader.tsx
  data/careerMonth.ts
  data/careerStartYear.ts
  data/index.ts
  pages/index.tsx
  pages/signUp/checkCategory.tsx
  pages/signUp/member/index.tsx
  pages/signUp/member/step1.tsx
  pages/signUp/trainer/step1.tsx
  pages/signUp/trainer/step2.tsx
  pages/signUp/trainer/step3.tsx
  public/assets/signUp/checkCategoryBack.svg
  public/assets/signUp/plus.svg
  public/assets/signUp/search.svg
Labels: feat, design

#31 Modify overall code format and Style section of form
  components/common/checkbox/checkbox.d.ts
  components/common/checkbox/index.tsx
  components/common/checkbox/styledCheckbox.ts
  components/layout/index/DetailOption.tsx
  components/layout/index/Option.tsx
  components/layout/index/TrainerItem.tsx
  pages/index.tsx
Labels: fix, design

#32 Community Page Styling
  components/common/button/styledButton.ts
  components/common/itemgroup/ItemGroup.tsx
  components/common/itemgroup/styledItemGroup.ts
  components/common/meta/index.tsx
  components/common/meta/meta.d.ts
  components/common/meta/styledMetaContainer.ts
  components/common/title/index.tsx
  components/common/title/styledTitle.ts
  components/common/uploader/index.tsx
  components/common/uploader/styledUploader.ts
  pages/community/[id].tsx
  pages/community/index.tsx
  pages/community/posting.tsx
  public/assets/common/button-delete.svg
  styles/theme.ts
Labels: design, common

#37 Create gender radio component and apply a theme
  components/common/checkbox/styledCheckbox.ts
  components/common/radio/index.tsx
  components/common/radio/radio.d.ts
  components/common/radio/styledRadio.ts
  components/layout/index/DetailOption.tsx
  components/layout/index/TrainerItem.tsx
  pages/index.tsx
  styles/emotion.d.ts
Labels: design, common

#39 Common Component
  components/common/button/index.tsx
  components/common/itemgroup/ItemGroup.tsx
  components/common/itemgroup/index.tsx
  components/common/itemgroup/itemgroup.d.ts
  components/common/meta/index.tsx
  components/common/meta/meta.d.ts
  components/common/meta/styledMetaContainer.ts
  components/common/uploader/index.tsx
  components/common/uploader/styledUploader.ts
  components/community/ButtonGroup.tsx
  components/community/Comment.tsx
  package-lock.json
  package.json
  pages/community/[id].tsx
  pages/community/index.tsx
  pages/community/posting.tsx
  yarn.lock
Labels: feat, common

#40 Review Page Markup
  components/common/buttongroup/index.tsx
  components/common/buttongroup/styledButtonGroup.ts
  components/common/itemgroup/index.tsx
  components/common/meta/index.tsx
  components/common/meta/meta.d.ts
  components/common/rating/index.tsx
  components/community/Comment.tsx
  components/review/Review.tsx
  pages/community/[id].tsx
  pages/community/index.tsx
  pages/profile/posts/[id].tsx
  pages/review/index.tsx
  public/assets/common/star-blank.svg
  public/assets/common/star.svg
  public/assets/common/trainer.jpg
Labels: design

#41 Create range component and Design trainer page
  components/common/range/index.tsx
  components/common/range/range.d.ts
  components/common/range/styledRange.ts
  components/layout/index/DetailOption.tsx
  components/layout/trainer/TrainerHeader.tsx
  components/layout/trainer/trainer.d.ts
  package-lock.json
  package.json
  pages/trainer/[id]/index.tsx
  public/assets/common/setting-white.svg
  public/assets/trainer/chat.svg
  public/assets/trainer/love-blank.svg
  public/assets/trainer/love.svg
  public/assets/trainer/trainer-background.svg
  public/assets/trainer/trainer-intro.svg
  yarn.lock
Labels: design
